<footer>
    <div>
        <p>
            Copyright &copy; 2017 elementary LLC.
        </p>
        <div class="popover">
            <a href="#"><i class="fa fa-language"></i> Language</a>
            <div class="popover-content">
                <strong>Change Site Language</strong>
                <ul>
                    <li><a href="/en/" rel="alternate" hreflang="en" data-l10n-off>
English </a></li>
                    <hr>
                    <li><a href="/af/" rel="alternate" hreflang="af" data-l10n-off>
Afrikaans </a></li>
                    <li><a href="/ar/" rel="alternate" hreflang="ar" data-l10n-off>
العَرَبِيَّة‎‎ </a></li>
                    <li><a href="/ca/" rel="alternate" hreflang="ca" data-l10n-off>
català </a></li>
                    <li><a href="/cs_CZ/" rel="alternate" hreflang="cs-CZ" data-l10n-off>
čeština </a></li>
                    <li><a href="/de/" rel="alternate" hreflang="de" data-l10n-off>
Deutsch </a></li>
                    <li><a href="/es/" rel="alternate" hreflang="es" data-l10n-off>
Español </a></li>
                    <li><a href="/fi/" rel="alternate" hreflang="fi" data-l10n-off>
Finnish </a></li>
                    <li><a href="/fr/" rel="alternate" hreflang="fr" data-l10n-off>
Français </a></li>
                    <li><a href="/it/" rel="alternate" hreflang="it" data-l10n-off>
Italiano </a></li>
                    <li><a href="/ja/" rel="alternate" hreflang="ja" data-l10n-off>
日本語 </a></li>
                    <li><a href="/ko/" rel="alternate" hreflang="ko" data-l10n-off>
한국어 </a></li>
                    <li><a href="/lt/" rel="alternate" hreflang="lt" data-l10n-off>
Lietuvių kalba </a></li>
                    <li><a href="/ms/" rel="alternate" hreflang="ms" data-l10n-off>
bahasa Melayu </a></li>
                    <li><a href="/nb/" rel="alternate" hreflang="nb" data-l10n-off>
Bokmål </a></li>
                    <li><a href="/nl/" rel="alternate" hreflang="nl" data-l10n-off>
Nederlands </a></li>
                    <li><a href="/pl/" rel="alternate" hreflang="pl" data-l10n-off>
Polski </a></li>
                    <li><a href="/pt_BR/" rel="alternate" hreflang="pt-BR" data-l10n-off>
Português (Brasil) </a></li>
                    <li><a href="/pt_PT/" rel="alternate" hreflang="pt-PT" data-l10n-off>
Português (Portugal) </a></li>
                    <li><a href="/ru/" rel="alternate" hreflang="ru" data-l10n-off>
Русский </a></li>
                    <li><a href="/th/" rel="alternate" hreflang="th" data-l10n-off>
Thai </a></li>
                    <li><a href="/sk/" rel="alternate" hreflang="sk" data-l10n-off>
Slovak </a></li>
                    <li><a href="/sv/" rel="alternate" hreflang="sv" data-l10n-off>
Swedish </a></li>
                    <li><a href="/tr_TR/" rel="alternate" hreflang="tr-TR" data-l10n-off>
Türkçe </a></li>
                    <li><a href="/zh_CN/" rel="alternate" hreflang="zh-CN" data-l10n-off>
简体中文 </a></li>
                    <li><a href="/zh_TW/" rel="alternate" hreflang="zh-TW" data-l10n-off>
繁體中文 </a></li>
                </ul>
            </div>
        </div>
    </div>
    <ul>
        <li><a href="/brand">Brand</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/open-source">Open Source</a></li>
    </ul>
</footer>
